{% extends 'base.html' %}

{% block head %}
    <title>Create Post</title>
    {% if current_user.is_anonymous %}
        <meta http-equiv="REFRESH" content="4; login">
    {% endif %}
{% endblock %}

{% block body %}

    {% if current_user.is_authenticated %}

    <div class="container text-center">
        <br>
        <div class="row justify-content-between">     
            <div 
            style="margin-top: 2%;
            margin-left: -10%;" 
            class="col-2 sidenav">
                <img src="../static/ads/default.jpeg" alt="ads">
            </div>
                        
            <div class="col-sm-12  col-lg-6 text-left">
                    
               
                    <br>
                    <h3 align="center">Create Ad</h3>
                    <br>
            
                    <div class="d-row justify-content-center">
                        <!-- form design is from bootstrap https://getbootstrap.com/docs/5.0/forms/overview/-->
                        <form action="/create" method="POST" enctype="multipart/form-data">
                                
                            <div class="form-row">
            
                                <span style="margin-right: 5px;">I am in</span>
                                <select style="margin-left: 2%;" name="location"
                                class="form-select form-select-lg mb-3" 
                                aria-label="Default select example" required>
                                    <option value=""></option>
                                    <option value="Antrim">Antrim</option>
                                    <option value="Armagh">Armagh</option>
                                    <option value="Carlow">Carlow</option>
                                    <option value="Cavan">Cavan</option>
                                    <option value="Clare">Clare</option>
                                    <option value="Cork">Cork</option>
                                    <option value="Derry">Derry</option>
                                    <option value="Donegal">Donegal</option>
                                    <option value="Down">Down</option>
                                    <option value="Dublin">Dublin</option>
                                    <option value="Fermanagh">Fermanagh</option>
                                    <option value="Galway">Galway</option>
                                    <option value="Kerry">Kerry</option>
                                    <option value="Kildare">Kildare</option>
                                    <option value="Kilkenny">Kilkenny</option>
                                    <option value="Laois">Laois</option>
                                    <option value="Leitrim">Leitrim</option>
                                    <option value="Limerick">Limerick</option>
                                    <option value="Longford">Longford</option>
                                    <option value="Louth">Louth</option>
                                    <option value="Mayo">Mayo</option>
                                    <option value="Meath">Meath</option>
                                    <option value="Monaghan">Monaghan</option>
                                    <option value="Offaly">Offaly</option>
                                    <option value="Roscommon">Roscommon</option>
                                    <option value="Sligo">Sligo</option>
                                    <option value="Tipperary">Tipperary</option>
                                    <option value="Tyrone">Tyrone</option>
                                    <option value="Waterford">Waterford</option>
                                    <option value="Westmeath">Westmeath</option>
                                    <option value="Wexford">Wexford</option>
                                    <option value="Wicklow">Wicklow</option>
                                </select>
            
                            </div>
            
                            <div class="form-row">
            
                                <div class="form-group col-md-4 mb-3">
                                    <label for="lang">I speak</label>
                                    <input class="form-control" type="text" id="lang" name="lang" placeholder="Language(s)">
                                </div>
            
                            </div>
            
                            <div class="form-row">
            
                                <div class="form-group col-md-4 mb-3">
                                    <label for="content">Content</label><br>
                                    <textarea id="content" name="content" rows="5" cols="34"></textarea><br>
                                </div>
            
                            </div>

                            <div class="form-row">
                                <span style="margin-left: 1%;">Post Photo</span><br>
                                <div 
                                style="margin-top: 2%; margin-right: 1%; margin-left: 1%;" 
                                class="input-group row-md-6 mb-3">
                                    <input 
                                    type="file" 
                                    class="custom-file-input" 
                                    id="post_pic" 
                                    name="post_pic"
                                    accept=".jpg, .jpeg, .png"
                                    required>
                                    <label class="custom-file-label" for="post_pic">                                    
                                        Post Photo
                                    </label>
                                </div>
            
                            </div>
                            
                            <input class="btn btn-outline-success" type="submit" value="Create"></input>
                        </form>
                    </div>
                    
                <br>
                            
            </div>

        <div 
        style="margin-top: 2%;
        margin-right: -10%;" 
        class="col-2 sidenav">
            <img src="../static/ads/default_3.jpeg" alt="ads">
        </div>


    </div>

    {% else %}

        <div class="container text-center">
            <br>
            <div class="row justify-content-between">     
                <div 
                style="margin-top: 2%;
                margin-left: -10%;" 
                class="col-2 sidenav">
                    <img src="../static/ads/default.jpeg" alt="ads">
                </div>
                            
                <div class="col-sm-6  col-lg-6 text-left">
                        
                    <br>
                        <h3 align="center" style="margin-top: 10%;">You are being redirected to log in!</h3>
                    <br>
                    
                </div>

            <div 
            style="margin-top: 2%;
            margin-right: -10%;" 
            class="col-2 sidenav">
                <img src="../static/ads/default_3.jpeg" alt="ads">
            </div>


        </div>

    {% endif %}


    </div>
    
    
{% endblock %}