{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}

    <main class="container-fluid">
        
        <div class="row">

            <div 
            style="margin-top: 2%;" 
            class="col-2 sidenav text-center">
                <p>ADS</p>
                <p>ADS</p>
            </div>

            <div class="col-md-8 col-lg-8">
                <section class="py-4">
                    <div class="row py-lg-3">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <h3 class="fw-light text-center">Ready to drive?</h3>
                            <p class="lead text-muted text-justify mx-4">
                                Do you have a learner permit? 
                                Are you getting your essential driving lessons or 
                                already completed them? Do you need more practice? 
                                You are at the correct place.
                                View the buddydrivers to find someone to practice with.
                            </p>
                        </div>
                    </div>
                </section>
    
                <div class="card-group mx-5">

                    <div  
                    class="card bg-dark ">
                        <a href="/drivers" class="text-white">
                            <img src="https://images.pexels.com/photos/1386649/pexels-photo-1386649.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
                            class="card-img" 
                            alt="..."
                            height="300"
                            >
                            <div class="card-img-overlay d-flex align-items-center justify-content-center">
                                <h5 class="card-title">BuddyDrivers</h5>
                            </div>
                        </a>
                    </div>
                
                </div>
    
                
            </div>
            
            <div style="margin-top: 2%;" class="col-2 sidenav text-center">
                <p>ADS</p>
                <p>ADS</p>
            </div>

        </div>
        <br>
        
    </main>
          
    
    
        
{% endblock %}