{% extends 'base.html' %}

{% block head %}
    {% if current_user.is_authenticated %}
        <title>{{current_user.first_name}}'s Profile</title>
    {% else %}
        <title>Profile</title>
    {% endif %}
{% endblock %}

{% block body %}

    
    <br>
   
        {% if posts|length < 1 %}

            <section 
                style="background-color: rgb(238, 238, 238);
                margin-top: -3%;
                margin-bottom: -3%;">
                <div class="container py-5">
                    
                    <div class="row">
                        <div class="col">
                            <nav aria-label="breadcrumb" class="rounded-3  mb-4">
                                <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Profile</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <img src="{{url_for('static', filename='images/' + user.profile_pic)}}" alt="profile picture"
                                    class="rounded-circle img-fluid" style="width: 150px;">
                                    <div class="d-flex justify-content-center">
                                        <h5 class="my-3">{{user.first_name}} - {{age-2}}</h5>
    
                                        {% if current_user.id == user.id %}
    
                                            <div class="dropdown my-3" style="margin-left: 7px;">
                                                <i class="bi bi-gear-fill dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="/update-user/{{user.id}}">Update</a>
                                                    <a class="dropdown-item" href="/delete-user/{{user.id}}">Delete</a>
                                                </div>
                                            </div>
    
                                        {% endif %}
    
                                    </div>

                                    <p class="my-3">{{user.email}}</p>


                                    {% if current_user.id == user.id %}

                                    {% else %}
                                    <div class="d-flex justify-content-center mb-2">
                                        <a class="btn btn-outline-primary" 
                                        href="{{ url_for('send_message',id=user.id) }}">
                                                            Message
                                        </a>
                                    </div>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            
                            <div class="row justify-content-center">
                                            
                                <div class="col-sm-10  col-lg-10 text-left">
                                    
                                    <div class="container">
                                        <h5 style="margin-top: 5%;" align="center">There are no posts yet. <a href="{{url_for('create')}}">Create now</a></h5>     
                                    </div>
            
                                </div>               
            
                            </div>
            
                        </div> 
                        
                    </div>
                    </div>
                </div>
                </div>
            </section>
            
        {% else %}
    
            <section 
            style="background-color: rgb(238, 238, 238);
            margin-top: -3%;
            margin-bottom: -3%;">
                <div class="container py-5">
                    
                    <div class="row">
                        <div class="col">
                            <nav aria-label="breadcrumb" class="rounded-3  mb-4">
                                <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Profile</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
            
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="{{url_for('static', filename='images/' + user.profile_pic)}}" alt="profile pic"
                                    class="rounded-circle img-fluid" style="width: 150px;">       
                                
                                <div class="d-flex justify-content-center">
                                    <h5 class="my-3">{{user.first_name}} - {{age-2}}</h5>

                                    {% if current_user.id == user.id %}

                                        <div class="dropdown my-3" style="margin-left: 7px;">
                                            <i class="bi bi-gear-fill dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                            
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="/update-user/{{user.id}}">Update</a>
                                                <a class="dropdown-item" href="/delete-user/{{user.id}}">Delete</a>
                                            </div>
                                        </div>

                                    {% endif %}

                                </div>

                                <p class="my-1">{{user.email}}</p>

                                {% if current_user.id == user.id %}

                                {% else %}
                                <div class="d-flex justify-content-center mb-2">
                                    <a class="btn btn-outline-primary" 
                                    href="{{ url_for('send_message',id=user.id) }}">
                                                        Message
                                    </a>
                                </div>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        
                        <div class="row justify-content-center">
                                        
                            <div class="col-sm-10  col-lg-10 text-left">
                                {% for post in posts %}
                                    <div class="card">
                                        <img class="card-img-top" src="{{url_for('static', filename='images/' + post.post_pic)}}" alt="Card image cap">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <a 
                                                style="margin-bottom: 2%;" 
                                                href="/profile/{{post.user.id}}">
                                                    <div class="d-flex">
                                                        <img class="img-fluid" src="{{url_for('static', filename='images/' + user.profile_pic)}}" alt="thumbnail" style="width:40px; height:40px;">
                                                        <h5 style="margin-left: 10%; margin-top: 15%;" class="card-title">{{ post.user.first_name }}</h5>
                                                    </div>
                                                </a>
                                                {% if current_user.id == post.user.id %}
                                                <div class="dropdown">
                                                    <i class="bi bi-gear-fill dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                    
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="/update-post/{{post.id}}">Update</a>
                                                    <a class="dropdown-item" href="/delete-post/{{post.id}}">Delete</a>
                                                    </div>
                                                </div>

                                                {% endif %}
                                                
                                            </div>
                                            <p class="card-text">
                                                {% if post.content | length > 200  %}
                                                    {{ post.content[0:200] }} ...
                                                {% else %}
                                                    {{ post.content }}
                                                {% endif %}
                                            </p>
        
                                            <div class="d-flex align-items-center justify-content-center">
                                                <a 
                                                class="btn btn-outline-secondary btn-block"
                                                href="/post/{{post.id}}">View
                                                </a>                    
                                            </div>
        
                                        </div>
        
                                        <div class="card-footer d-flex justify-content-between align-items-center">
                                            <small class="text-muted">{{post.location}}</small>
                                            <small class="text-muted">Language: {{post.language}}</small>
                                            <small class="text-muted">
                                                {% if (date).day - (post.date_created).day < 1 %}
                                                    {% if (date).hour - (post.date_created).hour == 1 %}
                                                        {% if (date).minute - (post.date_created).minute < 2 %}
                                                            {{(date).minute - (post.date_created).minute}} min
                                                        {% elif (date).minute - (post.date_created).minute > 1 %}
                                                            {{(date).minute - (post.date_created).minute}} mins
                                                        {% endif %}
                                                    {% elif (date).hour - (post.date_created).hour < 2 %}
                                                        {{(date).hour - (post.date_created).hour}} hour
                                                    {% elif (date).hour - (post.date_created).hour > 1 %}
                                                        {{(date).hour - (post.date_created).hour}} hours
                                                    {% endif %}
                                                {% elif (date).day - (post.date_created).day == 1 %}
                                                    {{(date).day - (post.date_created).day}} day
                                                {% elif (date).day - (post.date_created).day > 1 %}
                                                    {{(date).day - (post.date_created).day}} days
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>
                                    <br>
                                {% endfor %}
        
                            </div>               
        
                        </div>
        
                        <a href="#top" class="btn btn-outline-success float-right">
                            <i class="bi bi-chevron-double-up"></i>
                            Go to top
                        </a>
        
                    </div> 
                    
                {% endif %}
                        
                    </div>
                    </div>
                </div>
                </div>
            </section>
    

    
{% endblock %}