{% extends 'base.html' %}

{% block head %}
    {% if current_user.is_authenticated %}
        <title>{{current_user.first_name}}'s Profile</title>
    {% else %}
        <title>Profile</title>
    {% endif %}
{% endblock %}

{% block body %}

    {% if current_user.is_authenticated %}
    <br>
   
        {% if posts.items|length < 1 %}
            <div class="container">
                <h5 style="margin-top: 5%;" align="center">There are no tasks yet. <a href="{{url_for('profile')}}">Create now</a></h5>     
            </div>
            
        {% else %}
    
                <section 
                style="background-color: rgb(238, 238, 238);
                margin-top: -2%;
                margin-bottom: -3%;">
                    <div class="container py-5">
                        <div class="row">
                            <div class="col">
                                <nav aria-label="breadcrumb" class="rounded-3  mb-4">
                                    <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                
                    <div class="row">
                        <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                    class="rounded-circle img-fluid" style="width: 150px;">
                                
                                    <h5 class="my-3">Name</h5>
                                
                                <p class="text-muted mb-1">Full Stack Developer</p>
                                <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <button type="button" class="btn btn-primary">Follow</button>
                                    <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0">https://mdbootstrap.com</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                <p class="mb-0">@mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">mdbootstrap</p>
                                </li>
                            </ul>
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">Johnatan Smith</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">example@example.com</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">

                            <!-- <div class="row justify-content-between">     
                                <div class="col-2 sidenav">
                                    <p><a href="#">Create Post</a></p>
                                    <p><a href="#">Statistics</a></p>
                                    <p><a href="#">Messages</a></p>
                                    <p><a href="#">Settings</a></p>
                                </div> -->
                                            
                                <div class="col-sm-10  col-lg-10 text-left">
                                    {% for post in posts.items %}
                                        <div class="card">
                                            <img class="card-img-top" src="https://images.pexels.com/photos/1386649/pexels-photo-1386649.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ post.user.first_name }}</h5>
                                                
                                                <p class="card-text">
                                                    {% if post.content | length > 200  %}
                                                        {{ post.content[0:200] }} ...
                                                    {% else %}
                                                        {{ post.content }}
                                                    {% endif %}
                                                </p>
            
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <a 
                                                    class="btn btn-outline-secondary btn-block"
                                                    href="/post/{{post.id}}">View
                                                    </a>                    
                                                </div>
            
                                            </div>
            
                                            <div class="card-footer d-flex justify-content-between align-items-center">
                                                <small class="text-muted">{{post.user.location}}</small>
                                                <small class="text-muted">
                                                    {% if (date).day - (post.date_created).day < 1 %}
                                                        {% if (date).hour - (post.date_created).hour == 1 %}
                                                            {% if (date).minute - (post.date_created).minute < 2 %}
                                                                {{(date).minute - (post.date_created).minute}} min
                                                            {% elif (date).minute - (post.date_created).minute > 1 %}
                                                                {{(date).minute - (post.date_created).minute}} mins
                                                            {% endif %}
                                                        {% elif (date).hour - (post.date_created).hour < 2 %}
                                                            {{(date).hour - (post.date_created).hour}} hour
                                                        {% elif (date).hour - (post.date_created).hour > 1 %}
                                                            {{(date).hour - (post.date_created).hour}} hours
                                                        {% endif %}
                                                    {% elif (date).day - (post.date_created).day == 1 %}
                                                        {{(date).day - (post.date_created).day}} day
                                                    {% elif (date).day - (post.date_created).day > 1 %}
                                                        {{(date).day - (post.date_created).day}} days
                                                    {% endif %}
                                                </small>
                                            </div>
                                        </div>
                                        <br>
                                    {% endfor %}
            
                                    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                        {% if page_num %}
                                            {% if posts.page == page_num %}
                                                <a class="btn btn-outline-dark mb-4 active" href="{{url_for('profile', page=page_num)}}">{{page_num}}</a>
                                            {% else %}
                                                <a class="btn btn-outline-dark mb-4" href="{{url_for('profile', page=page_num)}}">{{page_num}}</a>
                                            {% endif %}
                                        {% else %}
                                            ...
                                        {% endif %}
                                    {% endfor %}
                                </div>               
                            
                                <!-- <div class="col-2 sidenav position-relative">
                                    <p>ADS</p>
                                    <p>ADS</p>
                                </div> -->
            
                            </div>
            
                            <a href="#top" class="btn btn-outline-success float-right">
                                <i class="bi bi-chevron-double-up"></i>
                                Go to top
                            </a>
            
                        </div> 
                        
                    {% endif %}
                            
                        </div>
                        </div>
                    </div>
                    </div>
                </section>
                
                <!-- AAAAAAAAAAAAAAAAAAAAA -->

                

        


    <!-- <div id="create-post" style="display: none;">
        <div class="d-flex justify-content-md-center align-items-center">
            <form action="/profile" method="POST">
                <label style="margin-bottom: 5%; margin-left: 37%; font-weight: bold;" for="content"><important>Create task</important></label><br>
                <textarea id="content" name="content" rows="5" cols="50"></textarea><br>
                <input class="btn btn-outline-success" type="submit" value="Submit">
            </form>
        </div>
    </div>       -->

    {% else %}
        
        <div class="container">
            <h4 align="center" style="margin-top: 3%;">Trying to access your profile? Sign in now!</h4><br>
            <div style="margin-top: 5%;" class="d-flex justify-content-center align-items-center">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h5 class="card-title">Sign In</h5>
                      <form action="/login" method="POST">
                            <div class="form-group">
                            <label for="mail">Email</label>
                            <input class="form-control" type="email" id="mail" name="mail">
                            </div>
                            <div class="form-group">
                            <label for="pwd">Password</label>
                            <input class="form-control" type="password" id="pwd" name="pwd">
                            </div>
                            <input class="btn btn-outline-dark" type="submit" value="Sign In">
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endif %}
{% endblock %}