{% extends 'base.html' %}

{% block head %}
    <title>Messages</title>
    {% if current_user.is_anonymous %}
        <meta http-equiv="REFRESH" content="4; login">
    {% endif %}

{% endblock %}

{% block body %}

    {% if current_user.is_anonymous %}
    
        <div class="container text-center">
            <br>
            <div class="row justify-content-between">     
                <div 
                style="margin-top: 2%;
                margin-left: -10%;" 
                class="col-2 sidenav">
                    <img src="../static/ads/default.jpeg" alt="ads">
                </div>
                            
                <div class="col-sm-6  col-lg-6 text-left">
                        
                    <h3 align="center" style="margin-top: 10%;">You are being redirected to login!</h3>
                    
                </div>

            <div 
            style="margin-top: 2%;
            margin-left: -10%;" 
            class="col-2 sidenav">
                <img src="../static/ads/default_3.jpeg" alt="ads">
            </div>


        </div>
    
    
    {% else %}

    <div class="container text-center">
        <br>
        <div class="row justify-content-between">     
            <div 
            style="
            margin-left: -10%;" 
            class="col-2 sidenav">
                <img src="../static/ads/default.jpeg" alt="ads">
            </div>
                        
            <div class="col-sm-6  col-lg-6 text-left">
                    
                <div class="container">

                    <br>
                    <h3 align="center">Messages</h3>
                    <br>

                    <div class="d-flex justify-content-center">

                        <form action="/send_message/{{user.id}}" method="POST">

                            <h5> Send Message to {{user.first_name}}</h5>
                            
                            <div class="form-row">
            
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" placeholder="Message" name="message" id="message" cols="30" rows="10"></textarea>
                                </div>

                            </div>

                            <input class="btn btn-outline-success" type="submit" value="Send"></input>

                        </form>
                        
                    </div>
                    
                </div><br>
                            
            </div>
        
        <div 
        style="
        margin-right: -10%;" 
        class="col-2 sidenav">
            <img src="../static/ads/default_3.jpeg" alt="ads">
        </div>


    </div>

    {% endif %}

    </div>

{% endblock %}