{% extends 'base.html' %}

{% block head %}
    <title>Update</title>
    {% if current_user.is_anonymous %}
        <meta http-equiv="REFRESH" content="4; login">
    {% endif %}
{% endblock %}

{% block body %}

    {% if current_user.is_authenticated %}

        <div class="container">
            <div class="form">
                <div class="d-flex justify-content-md-center align-items-center">
                    <form action="/update/{{posts.id}}" method="POST">
                        <label style="margin-top:30%; margin-bottom: 5%; margin-left: 37%; font-weight: bold;" for="content"><important>Update Post</important></label><br>
                        <textarea id="content" name="content" rows="5" cols="50">{{posts.content}}</textarea><br>
                        <input style="margin-top: 5%;" class="btn btn-outline-success" type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
       
    {% else %}
        <br>
            <h3 align="center" style="margin-top: 10%;">You are being redirected to log in!</h3>
        <br>

    {% endif %}
    
    
{% endblock %}